service:
  name: rota

provider:
  name: aws
  runtime: nodejs12.x
  versionFunctions: false
  region: ${opt:region}
  stackTags:
    tenant: platform
    feature: rota
    service: rota
    owner: Mohit K.
  environment:
    WEBHOOK_URL: ${file(./env.yml):WEBHOOK_URL}
    CHANNEL_NAME: ${file(./env.yml):CHANNEL_NAME}
    stage: ${opt:stage}
    region: ${opt:region}
  iamRoleStatements:
    - Effect: 'Allow'
      Action:
        - 'logs:*'
        - 'lambda:InvokeFunction'
        - 'dynamodb:*'
        - 'secretsmanager:GetSecretValue'
      Resource: '*'

functions:
  pickMember:
    handler: src/handler/pick-member.pickMember
    timeout: 10
    events:
      - schedule:
          rate: cron(0 7 ? * MON-FRI *)
          enabled: false
          input:
            teamName: devops
            source: cloudwatch